{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}


{% block body %}


<!-- SECTION HEADER -->


<header class="masthead text-white text-center" style="background-color: rgb(23, 34, 126);">
    <div class="container d-flex align-items-center flex-column">
        <img class="masthead-avatar mb-5 rounded-circle" src="assets/styles/img/lucas.jpg" alt="" />
        <h1 class="masthead-heading text-uppercase mb-5 ">développeur web et mobile</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fab logoRotateBelge fa-connectdevelop "></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div id="carouselContent" class="carousel slide p-5" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active text-center p-4">
                    <p class="masthead-subheading font-weight-light mb-0">Frontend</p>
                </div>
                <div class="carousel-item text-center p-4">
                    <p class="masthead-subheading font-weight-light mb-0">Backend</p>
                </div>
                <div class="carousel-item text-center p-4">
                    <p class="masthead-subheading font-weight-light mb-0">Symfony</p>
                </div>
                <div class="carousel-item text-center p-4">
                    <p class="masthead-subheading font-weight-light mb-0">React</p>
                </div>
            </div>
        </div>
        <div class="mouse-icon"><div class="wheel"></div></div>
    </div>
</header>

<!-- SECTION ABOUT  -->

<section class="page-section text-white mb-0" id="about">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase-blue  pt-5">Présentation</h2>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"style="background-color:  rgb(23, 34, 126);"></div>
            <div class="divider-custom-icon"><i class="fab logoRotateBlue fa-connectdevelop" ></i></div>
            <div class="divider-custom-line"style="background-color:  rgb(23, 34, 126);"></div>
        </div>
        <p class="text-center">Lucas Girard, 31 ans, diplômé à titre professionnel Développeur Web et Web Mobile. Formé durant 8 mois à Simplon Roanne.</p><br/>
            <p class="text-center">Langage de prédilection : PHP <br/>
            Langages utilisés : Symfony, REACT <br/>
            Langage complémentaires : HTML, CSS, JavaScript, REACT NATIVE, WordPress.</p><br/>
            <p class="text-center">En recherche d'entreprise en contrat d'apprentissage ou de professionnalisation. Mobile sur la région Auvergne-Rhône-Alpes.</p>
        <div class="d-flex align-items-center flex-column">
            <a class="cv btn btn-xl  m-5" href="assets/styles/img/cv-LucasGirard-Déveleppeur-web-mobile.pdf" target="_blank">
                <i class="fas fa-download mr-2"></i>
                cv
            </a>
            <!-- <p class="masthead-subheading font-weight-light mb-5">SYMFONY - PHP - HTLM  - CSS - JS - REACT - REACT NATIVE - BOOTSTRAP </p> -->
        </div>
    </div>
</section>

<!-- SECTION PROJET -->

<section class="page-section portfolio" id="portfolio" style="background-color: rgb(23, 34, 126);">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase  mb-0 pt-5">Projets</h2>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fab logoRotateBelge fa-connectdevelop "></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center text-white " >
        {% for portfolio in portfolios %}
            <div class="col-mb-6 col-lg-4 mb-5">
                <div class="portfolio-item d-flex align-items-center justify-content-center">
                    <div class="card " style="width: 13rem;">
                        <a class="cardPortfolio text-light" style="text-decoration: none;" target="_blank" href="{{ portfolio.link }} ">
                            <div class="card-body text-center  ">
                                <p class="card-text">{{ portfolio.tittle}}</p>
                                <i class="fab fa-github fa-5x"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>        
    </div>
</section>

<!-- SECTION CONTACT  -->

<section class="page-section bg-secondary" id="contact">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase-blue mb-0 pt-5">Contactez-moi</h2>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line" style="background-color:  rgb(23, 34, 126);"></div>
            <div class="divider-custom-icon"><i class="fab logoRotateBlue fa-connectdevelop"></i></div>
            <div class="divider-custom-line" style="background-color:  rgb(23, 34, 126);"></div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                 <form id="contact-form" name="sentMessage" novalidate="novalidate" method="POST">
                {{ form_start(form) }}
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            {{ form_row(form.nom) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.phone) }}
                            {{ form_row(form.message) }}
                        </div>
                    </div>
                    <br />
                    <button class="btn btn-xl">{{ button_label|default('Envoyer') }}</button>
                    {{ form_end(form) }}
                </form>
                <br>
            </div>
        </div>
    </div>
</section>

<footer class="footer text-center  p-5" >
    <div class="container">
        <div class="row">
            <div class="offset-lg-4 col-lg-4 offset-mb-5 mb-5 mb-lg-0">
                <h4 class="textSocial text-uppercase mb-4">Sur le web</h4>
                <a class="btn  btn-social mx-1" href="https://www.facebook.com/lucas.girard.9"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn  btn-social mx-1" href="https://twitter.com/pyupyuu"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn  btn-social mx-1" href="https://www.linkedin.com/in/lucas-girard-d%C3%A9veloppeur-web-junior/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn  btn-social mx-1" href="https://github.com/lucasgirard42"><i class="fab fa-fw fa-github"></i></a>
            </div>
            <div class="offset-lg-4 col-lg-4 offset-mb-5 mb-5 mb-lg-0">
            <img src="assets/styles/img/symfony_white_03.svg" alt=""/>
            </div>
        </div>
    </div>
</footer>


{% endblock %}
